{% extends "secondary_base.html" %}
{% load static %}

{% block pagetitle %}
{{gallery.title}} - Galleries
{% endblock pagetitle %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/third-party' %}/lightgallery.min.css" />
{% endblock styles %}

{% block main %}
{{ block.super }}
<div class="page">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">{{gallery.title}}</h1>
                <span class="subtitle is-6">
                    <time class="meta-info__text" datetime="{{gallery.date|date:'Y-m-d'}}">
                            {{gallery.date|date:'d E Y'}}</time>
                            | {{gallery.author.last_name}} {{gallery.author.first_name}}
                </span>
                <section class="gallery-photo__list" id="lightgallery">
                    {% for image in images %}
                    <div class="gallery-photo__item" data-src="/media/{{image.image}}">
                        <div class="gallery-photo__image" style="background-image:url('/media/{{image.thumbnail }}')"></div>
                    </div>
                    {% endfor %}
                </section>
            </div>
            <div class="column is-one-fifth"></div>
        </div>
    </div>
</div>
{% endblock main %}


{% block scripts %}
<script src="{% static 'js/third-party/lightgallery.min.js' %}"></script>

<script>
    $(document).ready(function () {
        lightGallery(
            document.getElementById('lightgallery'),
            {
                mode: 'lg-fade',
                cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)'
            });
    });

</script>
{% endblock scripts %}