{% extends "base.html" %} 
{% load static %} 
{% block pagetitle %}
  {{ current_page.title }} - {{ block.super }} 

{% endblock pagetitle %} 

 {% block content %}
    <header>
        <h2 class="content__title">{{current_page.title}}</h2>
        <p class="content__text">{{current_page.description}}</p>
    </header>
    <ul class="gallery__list">
        {% for gallery in gallery_list %}
            <li class="gallery__list-item">
                {% include 'galleries/gallery_template.html' with gallery=gallery %}
            </li>
        {% endfor %}
    </ul>
    {% include "pagination.html" %}
{% endblock content %}

{% block rightside %}
    {% include 'galleries/right_side.html' %}
 {% endblock rightside %}