{% extends "galleries/gallery_list.html" %}
{% load static %}

{% block pagetitle %}
{{gallery.title}} - {{block.super}}
{% endblock pagetitle %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/third-party' %}/lightgallery.min.css" />
{% endblock styles %}


{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumbs__item">
    <a class="breadcrumbs__link" href="{{ gallery.get_absolute_url }}" title="{{ gallery.title }}">{{ gallery.title }}</a>
</li>
{% endblock %}

{% block content %}
<article>
    <header>
        <h2 class="content__title">{{gallery.title}}</h2>
    </header>   
    <ul class="meta-info">
        <li class="meta-info__item">
            <time class="meta-info__text" datetime="{{gallery.date|date:'Y-m-d'}}">
                {{gallery.date|date:'d E Y'}}</time></li>
        <li class="meta-info__item">{{gallery.author.last_name}} {{gallery.author.first_name}}</li>
    </ul>
    <section class="gallery-photo__list" id="lightgallery">
        {% for image in images %}
        <div class="gallery-photo__item" data-src="/media/{{image.image}}">
            <div class="gallery-photo__image" style="background-image:url('/media/{{image.thumbnail }}')"></div>
        </div>
        {% endfor %}
    </section>
</article>
{% endblock content %}

{% block rightside %}
<section class="last_photos">
    <h3>Последние фотогалереи</h3>
    <ul class="gallery__aside-list">
        {% for item in latest_galleries %}
        <li class="gallery__aside-item">
                <div class="gallery__aside-cat"><span class="gallery__aside-date">{{item.date|date:'F y'}}</span></div>
                <div class="gallery__aside-image" style="background-image:url('/media/{{item.main_image }}')">
                        <a class="gallery__aside-link" href="{{ item.get_absolute_url }}" title='{{item.title}}'>{{item.title}}</a>
                </div>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="last_news">
    <h3>Последние новости</h3>
    <ul class="aside__menu-list" >
        {% for item in latest_news %}
        <li class="news-item__aside-item">
            <div class="news-item__aside-header">
                <span class="news-item__aside-date">{{item.publication_date|date:'d.m.Y'}}</span>
                <h4 class="news-item__aside-title"><a class="news-item__aside-link" href="{{item.get_absolute_url}}" alt="{{item.title}}">{{item.title}}</a></h4></div>
            <p class="news-item__aside-text">{{item.description|striptags|truncatechars:100|safe}}</p>
        </li>
        {% empty %}
        <p>Нет новостей</p>
        {% endfor %}
    </ul>
</section>
{% endblock rightside %}


{% block jsfooter %}
<script src="{% static 'js/third-party/lightgallery.min.js' %}"></script>

<script>
    $(document).ready(function () {
        lightGallery(
            document.getElementById('lightgallery'),
            {
                mode: 'lg-fade',
                cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)'
            });
    });

</script>
{% endblock jsfooter %}