.logo{
  background-color: white;
  z-index: 100;
  padding: 0 7px;
  border-radius: 5px;
  display: inline-block;
  margin-top: -45px;
  position: absolute;
}
.page__main-image{
  background-image: url('/static/img/main_image.jpg');
  height: 500px;
  width: 100%;
  position: absolute;
}
.secondary_page__main-image{
  background-image: url('/static/img/secondary_image.jpg');
  height: 244px;
  width: 100%;
  position: absolute;
}
.coaches_list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.coaches_list p{
  margin-bottom: 0;
}
.coaches, .schedule, .about{
  margin:50px 0;
  padding:20px 0;
}
.about {
  margin-top: 500px;
}
.coach{
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  background-size: cover;
}
.card {
  width: 220px;
  margin-right: 29px;
  margin-bottom: 20px;
}
.coaches_list .card-content{
  padding: 1rem;
}
.schedule{
  background-image: url('/static/img/schedule.jpg');
  background-attachment:fixed;
}
.table {
  color: #fff;
  background-color: darkseagreen;
}
.table.is-hoverable tbody tr:not(.is-selected):hover{
  background-color: #67b194;
}
.schedule_list {
  margin-left: auto;
  margin-right: auto;
}
.content{
  text-align: center;
  position: relative;
  top: 220px;
  background-color: #f8fbf8;
  border-radius: 10px;
  padding: 24px;
  opacity: 0.8;
  font-family: 'Courgette', cursive;
  width: 60%;
  margin: auto;
  color: #0b0706;
}
.content h1{
  color: #12294b;
}
section h1, .container h1{
  font-family: 'Courgette', cursive;
}

.tournaments_list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.tournaments_list .card{
  margin-left:20px;
}
.tournament{
  height:150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleries {
  background-image:url('/static/img/photo_background.jpg');
  background-attachment:fixed;
  padding: 40px;
}
.galleries_list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gallery{
  height:250px;
  max-height: 300px;
  width: 300px;
  max-width: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}
.gallery .details {
  background-color: #fff;
  opacity: 0.9;
  padding: 11px;
  display: none;
}
footer{
  background-color: #21373a;
  padding:15px;
  color: #aebabb;
}
.page{
  padding:30px 0;
  margin-top: 244px;
}
.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  background-color: #e2847a !important;
  color: #fbfcfd;
}