{% extends "base.html" %}
{% block pagetitle %}
Blog
{% endblock pagetitle %}
{% block main %}
    {{ block.super }}
    <div class="page">
        <div class="container">
            <h1 class="page__title">Our blog</h1>
            <div class="page__content--blog">
                <div class="blog__list">
                    {% for post in blogposts %}
                        <article class="blog">
                            <header class="blog__header">
                                <h3 class="blog__title">
                                    <a class="blog__title-link" href="{{post.get_absolute_url}}" title="{{post.title}}">{{post.title}}</a>
                                </h3>
                                
                                <div class="blog__info">
                                    <time datetime="{{post.published_date|date:'m-d-Y'}}">{{post.published_date|date:"M d Y"}}</time> | 
                                    {{post.author}}
                                </div>
                            </header>
                            {% if post.cover_image %}
                                <img class="blog__image" src="/media/{{post.cover_image}}" alt="{{post.title}}" width=200>
                            {% endif %}
                            <div class="blog__content"> {{post.description|striptags|safe|truncatechars_html:400}}</div>
                            <a class="blog__more" href="{{post.get_absolute_url}}" title="{{post.title}}">More...</a>
                        </article>
                    {% endfor %}
                    {% include "blog/pagination.html" %}
                </div>
                <div class="side"></div>
            </div>
        </div>
    </div>
{% endblock main %}