{% extends "secondary_base.html" %}
{% block pagetitle %}
Donate
{% endblock pagetitle %}

{% block main %}
{{ block.super }}
    <div class="container page">
        <h1 class="title">Support East Saint Paul Youth Wrestling</h1>
        {{current_page.description|safe}}
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick"> 
            <input type="hidden" name="hosted_button_id" value="RR5BZH8GNDX7L"> 
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> 
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
{% endblock main %}