{% extends "base.html" %}
{% block pagetitle %}
Contacts
{% endblock pagetitle %}
{% block main %}
    {{ block.super }}
    <div class="page container">
                <h2>Contacts</h2>
                <p>Johnson High School is located at 1349 Arcade St  St Paul, MN 55106. The wrestling room is located in the basement, across from the pool, and next to the boys' locker room.</p>
                <p>If you have any questions about our club, please leave them here:</p>
                {% include "_messages.html" with messages=messages %}
                <form action="" method="post" class="form" >
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }} 
                            {{ field }} 
                            {% if field.help_text %}
                                <p class="form__helptext">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="button" type="submit">Send</form>
                </form>
    </div>
{% endblock main %}