{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
Home 
{% endblock pagetitle %}

{% block header %}
    <div class="header__content">
        <h1 class="header__title">Introduce yourself to the great sport of wrestling.</h1>
        <h4>Not sure if you'll like wrestling? </h4>
        <a class="button button--header" href="{% url 'pages:contacts' %}">
        Try it for a week for free!
        </a>
    </div>
{% endblock header %}

{% block main %}
    {% include "pages/about.html" with current_page=current_page %}
    {% include "club/schedule.html" with schedule_list=schedule_list %}
    {% include "club/tournaments.html" with tournaments=tournaments %}
    {% include "pages/galleries.html" with galleries=galleries %}
    {% include "club/coaches.html" with coaches=coaches %}
{% endblock main %}