{% load static %}
<section class="about">
    <div class="container">
        <h1 class="title has-text-centered">About us</h1>
        <div class="columns">
          <div class="column is-one-quarter">
            <img src="{% static 'img/logo_secondary.jpg' %}" />
        </div>
        <div class="column">
            <p>The East Side Wrestling Club is a group of youth wrestlers who practice Folkstyle in the fall and Freestyle & Greco wrestling in the spring at Saint Paul Johnson High School & Augsburg College. Participation is open to any student that wishes to learn or improve at the sport of wrestling.  Practices will take place throughout the week, and wrestlers may also compete on weekends.  The winter season begins on Thursday November 7,  and will run through the state tournament in early March.  This club is not affiliated with any high school.</p>
        </div>
        </div>
    </div>
</section>