<section class="section section--coaches">
    <div class="container">
        <h1 class="section__title">Our team</h1>
        <div class="coach__list">
            {% for coach in coaches %}
                <div class="coach">
                    <div class="coach__image" style="background-image: url(/media/{{coach.avatar}})">
                    </div>
                    <div class="coach__content">
                            <h4 class="coach__name">{{coach.name}}</h4>
                            <p class="coach__title">{{coach.title}}</p>
                            <p class="coach__info">{{coach.email}} <br/>{{coach.phone}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>