<section class="section section--tournaments">
    <div class="container">
        <h1 class="section__title">Coming tournaments</h1>
        <div class="section__content section__content--tournaments">
            {% for item in tournaments %}
                <div class="tournament">
                    <div class="tournament__image" style="background-image: url(/media/{{item.cover_image}})">
                    </div>
                    <div class="tournament__content">
                        <h3 class="tournament__title"><a class="tournament__title-link" target="_blank" href="{{item.link}}">{{item.date|date:'l, F t Y'}}</a></h3>
                        <span>{{item.description}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>